<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Setup</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Welcome to EJS Template Engine <%= name %></h1>
    <ul>
        <li>Smart Phone Name : <%=products[0].title %></li>
        <li> Price: <%=products[0].price %></li>
    </ul>
    
</body>
</html>